
@{
    ViewBag.Title = "Index";
    ViewData["Count"] = (int)ViewData["Count"] + 1;

}

<h2>ViewData Demo- Index</h2>

<p>Messaage: @ViewData["Message"]</p>

<p>Count: @ViewData["Count"]</p>

<p>Demo: @ViewData["Demo"]</p>
